<%- include('../../views/partials/head.ejs') %>

<br><a href="/admin"><button class="btn btn-dark">back</button></a>
<br>

<div class="container">
  <br><h3>Cashier</h3><hr><br>
  <div class="container">
    colocar tabela Users e dar loop nos users criando um btn-MESA pra cada user
    <h3>Mesas</h3><br>
    <button class="btn btn-dark">MESA 00</button>
  </div><br><br>
  <% pedidos.forEach(pedido=>{%>
    <p><%= pedido.UserId %>  - <%= pedido.Produto.title %> - <%= pedido.status %></p>
    <form action="/deleteItemPedido" method="post">
      <input type="hidden" name="id" value="<%=pedido.id%>">
      <button class="btn btn-danger">delete</button>
    </form>
  <%}) %>

</div>
<%- include('../../views/partials/foot.ejs') %>
