<%- include('../../views/partials/head.ejs') %>

<br><a href="/admin"><button class="btn btn-dark">back</button></a>
<br>

<div class="container">
  <br><h3>Cashier</h3><hr><br>
  <div class="container">
  
    <h3>Mesas</h3><br>  
    <% users.forEach(user=>{%>
      <button class="btn btn-dark" id="<%=user.id%>" value="<%=user.id%>" onclick="selectTable(this.id)">MESA <%=user.id%></button>
    <%}) %>
  </div><br><br>

  <div class="card" style="width: 30rem;" id="card" >
    <h4 class="text-center" id="tableTitle"></h4>
    <table class="table table-borderless" >
      <thead>
        <tr class="card-header">
          <th>produto</th>
          <th>status</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="result">

      </tbody>
    </table>
    <div class="d-flex justify-content-between card-footer" id="divTotal">

    </div>
  </div>
  <form action="/endSection/${USERId}" method="post"></form>
  
</div>
<%- include('../../views/partials/foot.ejs') %>
<script>
  const tbody = document.getElementById('result');
  const divTotal = document.getElementById('divTotal');

  function selectTable(userId) {
    divTotal.innerHTML=''
    console.log('clicked')
    tbody.innerHTML=''
    let foundId = [];
    let foundprices = [];

    const pedidos = <%- JSON.stringify(pedidos) %>;

    let USERId = document.getElementById(userId).value;

    foundId = pedidos.filter(pedido => pedido.UserId == USERId);
    foundprices = foundId.map(price => price.Produto.price);

    const initial = 0
    let total = foundprices.reduce((accumulator, currentValue) => accumulator + currentValue,
    initial,)

    const cardTable = document.getElementById('tableTitle')
    cardTable.innerHTML=`MESA ${USERId}`
    
    foundId.forEach(item=>{
    const tr = document.createElement('tr')
    tr.innerHTML=`
      <td>${item.Produto.title}</td>
      <td>${item.status}</td>
      <td>${item.Produto.price}</td>
      <td><form action="/deleteItemPedido" method="post">
          <input type="hidden" name="id" value="${item.id}">
          <button class="btn btn-danger">delete</button>
        </form>
      </td>
     `
    tbody.appendChild(tr)
    })
    divTotal.innerHTML=`
    <h4>Total: R$ ${total}</h4>
    <form action="/endSection/${USERId}" method="post">
      <button class="btn btn-dark">END SECTION</button>
    </form>
    `
    
  }
</script>