<%- include('../../views/partials/head.ejs') %>
<div class="container">
  <br><h3>Users</h3><hr>
  <a href="/admin/newUsers" class="btn btn-dark">newUser</a><br><br>
  <table class="table table-light table-bordered" style="width: 20rem;">
    <thead >
      <tr>
        <th>user</th>
        <th>pass</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user=>{ %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.password %></td>
          <td>
            <form action="/admin/userDelete" method="post">
              <input type="hidden" value="<%= user.id %>" name="id">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      <%}) %>
    </tbody>
  </table>
</div><br>
<div class="container">
  <br><h3>Products</h3><hr>
  <a href="/admin/products" class="btn btn-dark">Products</a><br>
</div><br>
<div class="container">
  <br><h3>Cashier</h3><hr>
  <a href="/admin/cashier" class="btn btn-dark">Cashier</a><br>
</div>


<%- include('../../views/partials/foot.ejs') %>
