<%- include('../../views/partials/head.ejs') %>
<div class="container"><br>
  <a href="/admin/" class="btn btn-dark"> Back to menu</a> 
  <a href="/admin/products/new" class="btn btn-dark"> Criar novo Produto</a>
</div><br><br>
<div class="container text-center">
  <h2 class="">Produtos:</h2><hr>
  <div class="container flex row">
    <% products.forEach(product=>{ %>
      <div class="card m-3" style="width: 18rem;">
        <div class="card-header <%= product.status === false ? 'bg-light opacity-25': ''%>">
          <h4><%= product.title %></h4>
        </div>
        <div class="card-body">
          <div style="height: 150px;">
            <img class="card-img-top <%= product.status === false ? 'opacity-10': ''%>" src="<%=product.image%>" alt="" width="100%" style=" height: 100%" >
          </div><br>
          <h4>R$ <%= product.price %></h4>
        </div>
        <div class="card-footer d-inline-flex justify-content-center">
          <a href="/admin/editProduct/<%= product.id  %>" class="btn  <%= product.status === false ? 'btn-outline-warning': 'btn-warning'%>">Edit</a>
          <form class="mx-3" action="/deleteProduct/<%= product.id %>" method="post">
            <button class="btn <%= product.status === false ? 'btn-outline-danger': 'btn-danger'%>">Delete</button>
          </form> 
        </div>criar a conexao com o server btn edit
      </div>
    <% }) %>
  </div>
</div>
<%- include('../../views/partials/foot.ejs') %>
