<%- include('../../views/partials/head.ejs') %>
<br><a href="/users/logout"><button class="btn btn-danger">LogOut</button></a>

<main class="d-flex flex-wrap">
  <div class="container col-8">
    <h3 class="text-center">Mesa: <%= id %></h3><hr><br>
    <div class="container row flex flex-wrap">
      <% products.forEach(prod=>{ if(prod.status === true){%>
        <div class="card mx-3" style="width: 18rem;">
          <div class="card-header">
            <h4><%= prod.title %></h4>
          </div>
          <div class="card-body" >
            <img class="card-img-top" src="<%=prod.image%>" alt="" width="100%" height="150px">
          </div>
          <div class="card-footer">
            <h4 class="">R$ <%= prod.price %></h4>
            <button class="btn btn-outline-dark" name="<%= prod.title%>" id="<%= prod.id%>"   value="<%= prod.price %>"  onclick="Clicked(this.id, this.name, this.value)">Add</button>
          </div>
        </div>
      <%}})  %>
    </div><br>
  </div>

  <div class="container col-4">

    <!-- ======== carrinho ======== -->    
    <div class="card"  style="width: 20rem;">
      <h3 class="card-header">Cart</h3>
      <ul id="cart"></ul>
      <button class="btn btn-success" type="submit" id="order" value="<%= id %>" onclick="Order(this.value)">Order</button>
    </div><br><br>
  
    <!-- ======== ordered ======== -->    
    <div class="card" style="width: 20rem;">
      <h3 class="card-header">Ordered products</h3>
      <table id="ordered" class="card-body">
        <% pedidos.forEach(item => { 
             if (item.Produto) { %> 
          <tr>
            <td class="p-3"><%= item.Produto.title %></td>
            <td>R$</td>
            <td><%= item.Produto.price %></td>
          </tr>
        <%  } }) %>
      </table>
      <div class="card-footer d-flex justify-content-between">
        <h3>TOTAL: <%= pedidos.map(pedido => pedido.Produto ? pedido.Produto.price : 0).reduce((acc, cur) => acc + cur, 0) %></h3> <!-- Verifica se pedido.Produto não é nulo antes de acessar o preço -->
        <button class="btn btn-dark">FINISH</button>
      </div>
    </div>
  </div>
  
</main>

<%- include('../../views/partials/foot.ejs') %>

<script>
  let currentOrder = [];
  let currentOrderId = [];
  let order = document.getElementById('order');
  const ul = document.getElementById('cart');

  function Clicked(productId, productName, productPrice){
    currentOrderId.push(productId)
    currentOrder.push({productId:productId, productName:productName, productPrice:productPrice})
    printCart()
  }

  function printCart(){
    ul.innerHTML=""
    currentOrder.forEach(item=>{
      var li = document.createElement('li');
      li.setAttribute('name', 'id');
      li.setAttribute('id', item.productId)
      li.classList.add('d-flex')
      li.classList.add('justify-content-between')
      li.classList.add('p-3')
      li.innerHTML=`
      <tr class="align-items-center">
        <td><p>${item.productName}</p></td>
        <td><p>R$</p></td>
        <td><p>${item.productPrice}</p></td>
        <td><button class="btn btn-danger" value="${item.productId}" onclick="removeItem(this.value)">remove</button></td>
      </tr>`
    ul.appendChild(li)
    })
  }

  function removeItem(id){
    const index = currentOrder.indexOf(id)
    var x = currentOrder.splice(index, 1);
    printCart();
  }

  function Order(id){
    fetch('/user/newOrder/'+id, {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json',
      },
      body: JSON.stringify({ array: currentOrderId }),
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Erro ao enviar o Array para o servidor');
          }
          return response.json();
      })
      .then(data => {
          console.log('Resposta do servidor:', data);
      })
      .catch(error => {
          console.error('Erro:', error);
    });

    currentOrder=[];
    printCart()
  }
  
</script>